<h1>Welcome, <%= current_admin.username %>!</h1>

<%= link_to 'Edit/Delete Sites', admin_sites_path %>
<%= link_to 'Add a New Site', admin_sites_new_path %>

<%= link_to 'Log out', log_out_path, class: 'btn btn-danger' %>
