<li><%= site[0] %><%= link_to "Delete this Class", admin_sites_path(name: site[0]), class: "btn btn-danger", :data => {confirm: "Are you sure you'd like to delete this class?", method: "delete"} %><%= link_to "Update this Class", admin_sites_path(name: site[0]), class: "btn btn-danger", :data => {confirm: "Are you sure you'd like to delete this class?", method: "patch"} %></li>
