<h1>Sites#Index</h1>

<div id="map-container">
  <div id="map"></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}});
  handler.map.centerOn([45.543897, -122.655977]);
  handler.getMap().setZoom(9);
</script>
